# Bytecode-Dateien
__pycache__/
*.pyc
*.pyo

# Virtuelle Umgebungen
.venv/
.env

# Abhängigkeiten
*.egg-info/
Pipfile
Pipfile.lock

# Log-Dateien
logs/
*.log

# Datenbanken
*.sqlite3
instance/

# Umgebungsvariablen und Konfigurationen
.env
config.py

# Flask-Caches und Sitzungsdateien
.cache/
*.pid

# Pytest- und Testdateien
.pytest_cache/
.coverage
htmlcov/

# IDE- und Betriebssystem-spezifische Dateien
.vscode/
.idea/
.DS_Store
