<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über uns</title>
</head>
<body>
    <h1>Über uns</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Dolor a provident quas amet laboriosam exercitationem eveniet ad sunt,
          enim totam quos incidunt veniam optio pariatur perferendis mollitia suscipit.
           Enim, corrupti.
    </p>
    <a href="/">Home</a>
</body>
</html>
