<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über uns</title>
</head>
<body>
    <h1>Über uns</h1>
    <h2>Indevelopment</h2>
    <p>
        Hi <br>
        Wir sind 2 zwei Schüler aus Kassel,
        die die seite vom schulportal scheisse finden
        und sich dachten, das können wir besser.<br>
        achso und hier ist der <a href="https://github.com/Tiberias23/Schulportal-in-gut" target="_blank">Link zum Git repo</a>
    </p>
    <a href="/index.html">Home</a>
</body>
</html>
